.example-spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  font-family: poppins;
}

.toolbar_styling {
  font-family: poppins;
  margin-left: 5%;
  margin-right: 2%;
}
