<p>
  <mat-toolbar class="navbar">
    <!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
    <!--      <mat-icon>menu</mat-icon>-->
    <!--    </button>-->
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="navbar">
      <span>Home</span>
    </button>
    <button mat-icon-button class="toolbar_styling" aria-label="Example icon-button with share icon">
      <span>My Blogs</span>
    </button>
    <button mat-icon-button class="toolbar_styling" aria-label="Example icon-button with share icon">
      <span>About Me</span>
    </button>
    <button mat-icon-button class="toolbar_styling" aria-label="Example icon-button with share icon">
      <span>Connect</span>
    </button>
  </mat-toolbar>
</p>
