<p>
  <mat-toolbar class="navbar">
    <!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
    <!--      <mat-icon>menu</mat-icon>-->
    <!--    </button>-->
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="navbar">
      <a [routerLink]="['/web/home']">Home</a>
    </button>
    <button mat-icon-button class="toolbar_styling" aria-label="Example icon-button with share icon">
      <a [routerLink]="['/web/my-blogs']">My Blogs</a>
    </button>
    <button mat-icon-button class="toolbar_styling" aria-label="Example icon-button with share icon">
      <a>About Me</a>
    </button>
    <button mat-icon-button class="toolbar_styling" aria-label="Example icon-button with share icon">
      <a>Connect</a>
    </button>
  </mat-toolbar>
</p>
