<app-navbar></app-navbar>
<div class="home_background">
  <div class="home">
    <div class="welcome">
      <h1 style="font-size: 50px; letter-spacing: 3px">
        Very recent post on beasts
      </h1>
      <br />
      <h3 style="opacity: 70%">
        Enjoy the latest post on beasts, scroll down to see more and dive
        into the view.
      </h3>
      <button>Beasts me</button>
    </div>
    <div class="interests">
      <p>Action</p>
      <p>Comedy</p>
      <p>Drama</p>
      <p>Military</p>
      <p>Fantasy</p>
    </div>
    <div class="Slanting_page"></div>
  </div>
</div>
<div class="new_trends">
  <mat-list>
    <mat-list-item class="page_label">Recent Trends</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <mat-grid-list cols="4" rowHeight="1:2" class="grid">
    <mat-grid-tile >
      <mat-card class="recent_card_styling">
        <div class="card_content">
          <img
            class="recent_post_pic"
            src="/assets/images/home-background1.png"
          />
          <mat-card-content>
            <li style="margin-top: 5%; margin-left: 5%">Fantasy</li>

            <h3 style="margin-top: 5%; font-weight: 500">Nine Inch Nails Live</h3>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
            <div style="font-weight: lighter">
              <p style="float: right;">Read Full </p>
              <p>1 month</p>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="recent_card_styling">
        <div class="card_content">
          <img
            class="recent_post_pic"
            src="/assets/images/tech-move.webp"
          />
          <mat-card-content>
            <li style="margin-top: 5%; margin-left: 5%">Fantasy</li>

            <h3 style="margin-top: 5%; font-weight: 500">Nine Inch Nails Live</h3>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
            <div style="font-weight: lighter">
              <p style="float: right;">Read Full </p>
              <p>1 month</p>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="recent_card_styling">
        <div class="card_content">
          <img
            class="recent_post_pic"
            src="/assets/images/home-background1.png"
          />
          <mat-card-content>
            <li style="margin-top: 5%; margin-left: 5%">Fantasy</li>

            <h3 style="margin-top: 5%; font-weight: 500">Nine Inch Nails Live</h3>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
            <div style="font-weight: lighter">
              <p style="float: right;">Read Full </p>
              <p>1 month</p>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="recent_card_styling">
        <div class="card_content">
          <img
            class="recent_post_pic"
            src="/assets/images/tech-move.webp"
          />
          <mat-card-content>
            <li style="margin-top: 5%; margin-left: 5%">Fantasy</li>

            <h3 style="margin-top: 5%; font-weight: 500">Nine Inch Nails Live</h3>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
            <div style="font-weight: lighter">
              <p style="float: right;">Read Full </p>
              <p>1 month</p>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
<!--  <mat-grid-list cols="1" rowHeight="6:2" class="grid">-->
<!--    <mat-grid-tile >-->
<!--      <mat-card>-->
<!--      </mat-card>-->
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->
<!--  <div class="category_blogs">-->
    <mat-list>
      <mat-list-item class="category_blogs"><p>Blogs</p></mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-list>
      <mat-list-item class="category_blogs">
        <a>Programming</a>&nbsp;&nbsp;&nbsp;
        <a>Comedy</a>&nbsp;&nbsp;&nbsp;
        <a>God speaks</a>&nbsp;&nbsp;&nbsp;
        <a>History</a>&nbsp;&nbsp;&nbsp;
        <a>Best Outfit</a>&nbsp;&nbsp;&nbsp;
        <a>Best hairstyle</a>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list><br>
<!--  </div>-->
  <mat-card>
<!--    <mat-grid-list cols="1" rowHeight="6:2" class="grid">-->
<!--      <mat-grid-tile >-->
        <mat-grid-list cols="2" rowHeight="5:2" class="category_grid">
          <mat-grid-tile >
            <div class="category_card_content">
              <img
                class="recent_post_pic"
                src="/assets/images/tech-move.webp"
              />
              <mat-card-content>
                <li style="margin-top: 5%; margin-left: 5%">Fantasy</li>

                <h3 style="margin-top: 5%; font-weight: 500">Nine Inch Nails Live</h3>
                <p>
                  The most popular industrial group ever, and largely
                  responsible for bringing the music to a mass audience.
                </p>
                <div style="font-weight: lighter">
                  <p style="float: right;">Read Full </p>
                  <p>1 month</p>
                </div>
              </mat-card-content>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
<!--            <mat-grid-tile>-->
              <div class="category_card">
                <mat-card>
                  <mat-grid-list cols="2" rowHeight="5:2" class="grid">
                    <mat-grid-tile>
                      <mat-card-header>
                      <img
                        class="category_post_pic"
                        src="/assets/images/tech-move.webp"
                      />
                      </mat-card-header>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <mat-card-actions align="start" style="padding: 12%">
                        <p>Thank you. I'll be anxiously waiting to hear from you to get more details on the exercise for the next phase.</p>
                      </mat-card-actions>
                    </mat-grid-tile>
                  </mat-grid-list>
                </mat-card>
                <br>
                <mat-card>
                  <mat-grid-list cols="2" rowHeight="5:2" class="grid">
                    <mat-grid-tile>
                      <mat-card-header>
                        <img
                          class="category_post_pic"
                          src="/assets/images/home-background1.png"
                        />
                      </mat-card-header>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <mat-card-actions align="start" style="padding: 12%">
                        <p>Thank you. I'll be anxiously waiting to hear from you to get more details on the exercise for the next phase.</p>
                      </mat-card-actions>
                    </mat-grid-tile>
                  </mat-grid-list>
                </mat-card>
                <br>
                <mat-card>
                  <mat-grid-list cols="2" rowHeight="5:2" class="grid">
                    <mat-grid-tile>
                      <mat-card-header>
                        <img
                          class="category_post_pic"
                          src="/assets/images/tech-move.webp"
                        />
                      </mat-card-header>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <mat-card-actions align="start" style="padding: 12%">
                        <p>Thank you. I'll be anxiously waiting to hear from you to get more details on the exercise for the next phase.</p>
                      </mat-card-actions>
                    </mat-grid-tile>
                  </mat-grid-list>
                </mat-card>
              </div>
<!--            </mat-grid-tile>-->

          </mat-grid-tile>
<!--          <mat-grid-list row="2" rowHeight="5:2" class="grid">-->
<!--            <mat-grid-tile >-->
<!--              <mat-card>-->
<!--              </mat-card>-->
<!--            </mat-grid-tile>-->
<!--            <mat-grid-tile >-->
<!--              <mat-card>-->
<!--              </mat-card>-->
<!--            </mat-grid-tile>-->
<!--          </mat-grid-list>-->
        </mat-grid-list>
<!--      </mat-grid-tile>-->
<!--    </mat-grid-list>-->
  </mat-card>
</div>
<app-footer></app-footer>
