.home_background {
  background-image: url("/assets/images/home-background.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.home {
  background-color: rgba(0, 0, 0, 0.6);
  height: 600px;
  width: 100%;
}
.welcome {
  /*// text-align: center;*/
  font-family: poppins;
  width: 30%;
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
}
.interests {
  float: right;
  color: white;
  margin-top: 23%;
  padding-right: 5%;
}
.Slanting_page {
  height: 600px;
  width: 35%;
  margin-left: 45%;
  align-content: center;
  clip-path: polygon(0 125%, 175px 0, 100% 0px,50px 350% );
/*// clip-path: polygon(0 0, 500px 0, 100% 0px,0 100% );*/
  background-image: url("/assets/images/home-background1.png");
}
.new_trends {
  margin-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
}
.page_label {
  font-size: 20px;
  font-weight: 100;
}
.grid {
  font-family: poppins;
  /*margin-bottom: 2%;*/
}
.recent_card_styling {
  width: 83%;
  height: 75%;
}
.recent_post_pic {
  height: 20rem;
  width: 100%;
}
.card_content {
  font-family: poppins;
  font-weight: 200;
}
.category_blogs {
  font-size: 20px;
  font-family: poppins;
  font-weight: 500;
}
.category_grid {
  font-family: poppins;
  /*height: 10%;*/
}
.category_card_content {
  font-family: poppins;
  font-weight: 200;
  height: auto;
}
.category_card {
  width: 80%;
  /*height: auto;*/
  /*margin-bottom: 10rem;*/
}
.category_post_pic {
  height: 20rem;
  /*width: 70%;*/
}
