<app-navbar></app-navbar>
<div class="landing_page">
  <div class="home_background">
    <div class="home">
      <div class="welcome">
        <h1 style="font-size:50px;">Welcome to MyBlog</h1><br>
        <h3 style="opacity: 70%;">Get the latest news on your favourite mangas, anime and manhwa around the world!</h3>
        <button>Beasts me</button>
      </div>
      <div class="interests">
        <p>Action</p>
        <p>Comedy</p>
        <p>Drama</p>
        <p>Military</p>
        <p>Fantasy</p>
      </div>
      <div class="Slanting_page">
      </div>
    </div>
  </div>
  <div class="new_trends">
    <mat-list>
      <mat-list-item class="page_label">New Trends</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-grid-list cols="2" rowHeight="3:1" class="grid">
      <mat-grid-tile>
        <mat-card class="card_background">
          <div class="card_content">
            <mat-card-header style="margin-top: 20%">
              <b class="category">Fantasy</b>
              <li>1 Month Ago </li>
            </mat-card-header>
            <mat-card-content>
              <b style="font-size: 20px;">Attack On Titans</b><br><br>
              <p>The CSS Grid Layout Module offers a grid-based layout system, with rows and columns, making it easier to design web pages without having to use floats and positioning.</p>
              <br>
              <div >
                <p style="float: right; margin-bottom: 20%">Read Full </p>
                <p>12 Min Read</p>
              </div>
            </mat-card-content>
          </div>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="card_background">
          <div class="card_content">
            <mat-card-header style="margin-top: 20%">
              <b class="category">Fantasy</b>
              <li>1 Month Ago </li>
            </mat-card-header>
            <mat-card-content>
              <b style="font-size: 20px;">Attack On Titans</b><br><br>
              <p>The CSS Grid Layout Module offers a grid-based layout system, with rows and columns, making it easier to design web pages without having to use floats and positioning.</p>
              <br>
              <div >
                <p style="float: right; margin-bottom: 20%">Read Full </p>
                <p>12 Min Read</p>
              </div>
            </mat-card-content>
          </div>      </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<app-footer></app-footer>
